body
{
    font-family: 'Lato', sans-serif;
    margin:auto;
}

.h1
{
    text-align: left;
    align-items: top;
    margin-left: 150px;
    padding-top: 180px;
    font-size: 60px;
    font-family: bold ;
}

.p
{ 
    text-align: left;
    align-items: top;
    margin-left: 150px;
    font-size: 18px;
    font-family: normal;
    color:#9b9a9a;
}

.btn
{
    align-items: center;
    width: 177px;
    height: 64px;
    margin-left: 150px;
    background: #E55473 ;
    border: none;
    border-radius: 10px;
    color: #fff;  
}

.header
{
    display: flex;
    gap: 100px;
    background:#ecd9dd ;
    width: 1519px;
    height: 577px;
    min-height:100vh;
    background-size: cover;
    background-position: center; 
}

.images
{
    width: 540px;
    height: 690px;
    margin-top: 23px;
    margin-right: 150px;
}

/*finish the header section*/
 
.pp
{
    font-size: 18px;
    font-family: normal; 
    text-align: auto;
    align-items: top;
    color:#d1cece;
}

.sec-1
{
    font-family: bold;
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
}

.container
{
    display: flex;
    text-align: center;
    gap: 20px;
    margin-left: 300px;
     width: 280px;
    height: 400px;
}

.img-1
{
    margin-top: 20px;
    background-color: #ae899b;
    width:290px;
    height: 398px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.img-2
{
    margin-top: 20px;
    background-color: #abc0c1;
    width: 290px;
    height: 398px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.img-3
{
    margin-top: 20px;
    background-color: #b6c4a8;
    width: 290px;
    height: 398px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.h6
{
    margin-top: 10px;
    font-size: 24px;
}

/*section-1 finish*/

.sec-2
{
    
    background: #f4f7f1;
    width: 912px;
    height: 320px;
    margin-left: 300px;
}

.container-2
{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 100px;
    margin-left: 150px;
    margin-top: 200px;
    padding-top: 100px;
}

/*section-2finish*/

.sec-3
{
    margin-top: 150px;
    background:#ecd9dd;
    width: 1519px;
    height: 400px;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
  
}

.hh2
{ 
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    margin-left: 190px;
    font-family: bold;
}

.pp2
{
    font-family: normal;
    text-align: center;
    margin-left: 170px;
    align-items: center;
    color:#9b9a9a;
}

.container-3
{
    display: flex;
    gap: 100px;
    margin-bottom: 200px;
}

.btn-4
{ 
    
    width: 177px;
    height: 64px;
    margin-left: 320px;
    background: #E55473;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    align-items: center;
}

.ima1s
{
    width: 318px;
    height: 420px;
    margin-bottom: 100px;
    margin-left: 150px;
}

/*section-3finish*/

 .sec-4
 {
    margin-top: 150px;
    text-align: center;
 }

 .head-1
 {
    font-size: 40px;
    font-family: bold;
 }

 .pera-1
 {
    font-size: 18px;
    font-family: normal;
    color:#a8a7a7;
 }

 .container-4
 {
    margin-top: 50px;
    display: flex;
    gap: 30px;
    margin-left: 150px;
 }

.img-4
{
    width: 280px;
    height: 339px;
}

/*section-4 finish*/

.container-5{
    background-image: url(Flower/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 449px;
   margin-top: 150px;
   margin-left: 40px;
}

.last-heading
{
    padding-top: 110px;
    text-align: center;
    font-size: 40px;
    font-family: bold;
}

.last-pera
{
    font-size: 18px;
    font-family: normal;
    text-align: center;
    color:#a1a1a1;
}

.form-5
{
    width:466px;
    height: 60px;
    border-radius: 10px;
    padding-left: 30px;
    margin-left: 440px;
    border: none;
    margin-top: 60px;
}

.btn-5
{
    width:150px;
    height: 60px; 
    border-radius: 10px;
    background-color: #E55473;
    border:none;
    color:#fff;
}

/*section-5 and main complete*/

.footer
{
    margin-top: 150px;
    background-color: black;
    width: 1519px;
    height: 390px;
    text-align: center;
}
.footer-last
{
    padding-top: 110px;
}

.last-heading-2
{
    font-size: 48px;
    color:#fff ;
    font-family: bold;
}

.last-heading-3
{
    font-size: 18px;
    color:#d2d0d0 ;
    font-family: normal;
}

.last-pera-3
{
    color:#bcbaba ;
    font-size: 14px;
    font-family: normal;  
}

.flower
{
    color:#E55473;
}   



/*complete the project*//*project is finish*/






